---
import '@fontsource/yuji-syuku';
import BaseLayout from '../../layouts/BaseLayout.astro';
const title = 'Shoulder - Furisode';
---

<BaseLayout title={title} />
<main>
  <h1>Shoulder - <span>ふりそで</span></h1>
  <p>
    This muscle is located under the tender and near the neck. It's white meat, but has more flavor
    than the breast or tender. There isn't much on each bird so only limited skewers can be made.
  </p>
</main>

<style>
  main {
    margin: 0 auto;
    width: 100%;
    max-width: 75ch;
    font-weight: 300;
  }

  h1 {
    font-weight: 300;
  }

  h1 span {
    font-family: 'Yuji Syuku', serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 2.4rem;
  }

  p {
    margin: 0;
    padding-bottom: 1rem;
    font-size: 1rem;
  }
</style>
