---
import '@fontsource/yuji-syuku';
import BaseLayout from '../../layouts/BaseLayout.astro';
const title = 'Skin - Kawa';
---

<BaseLayout title={title} />
<main>
  <h1>Skin - <span>皮</span></h1>
  <p>
    Leftover skin that isn't used for <a href='/skewers/negima'>negima</a> or other skewers is bunched
    tightly on it's own skewer. When it's slowly rendered over the charcoal the outside is light brown
    and crispy with the center still chewy. It goes great with a squirt of lemon on top.
  </p>
</main>

<style>
  main {
    margin: 0 auto;
    width: 100%;
    max-width: 75ch;
    font-weight: 300;
  }

  h1 {
    font-weight: 300;
  }

  h1 span {
    font-family: 'Yuji Syuku', serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 2.4rem;
  }

  p {
    margin: 0;
    padding-bottom: 1rem;
    font-size: 1rem;
  }
</style>
