---
import '@fontsource/yuji-syuku';
import BaseLayout from '../../layouts/BaseLayout.astro';
const title = 'Eggplant - Nasu';
---

<BaseLayout title={title} />
<main>
  <h1>Eggplant - <span>なす</span></h1>
  <p>
    Long, slender asian eggplant cut into bite sizedpieces and grilled. Then dipped into a tare sauce and topped with just a tiny bit of fresh grated ginger. Tender, juicy and refreshing.
  </p>
</main>

<style>
  main {
    margin: 0 auto;
    width: 100%;
    max-width: 75ch;
    font-weight: 300;
  }

  h1 {
    font-weight: 300;
  }

  h1 span {
    font-family: 'Yuji Syuku', serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 2.4rem;
  }

  p {
    margin: 0;
    padding-bottom: 1rem;
    font-size: 1rem;
  }
</style>
