---
import '@fontsource/yuji-syuku';
import BaseLayout from '../../layouts/BaseLayout.astro';
const title = 'Inner Thigh & Oyster - Obisori';
---

<BaseLayout title={title} />
<main>
  <h1>Inner Thigh & Oyster - <span>おびそり</span></h1>
  <p>
    This is the luxury skewer. It consists off two rare cuts of meat from the chicken. The first is
    the inner thigh which is a large tender piece of muscle near the thigh bone. The second is the
    oyster which is an oval shape piece of meat located near the backbone. The oyster is called
    sot-l'y-laisse in French, translating roughly to "the fool leaves it behind". There are only two
    of each of these cuts per chicken which ends up being two skewers per chicken. Grilled simply
    with sake and salt, savor the flavor and texture of this most ideal skewer.
  </p>
</main>

<style>
  main {
    margin: 0 auto;
    width: 100%;
    max-width: 75ch;
    font-weight: 300;
  }

  h1 {
    font-weight: 300;
  }

  h1 span {
    font-family: 'Yuji Syuku', serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 2.4rem;
  }

  p {
    margin: 0;
    padding-bottom: 1rem;
    font-size: 1rem;
  }
</style>
