---
import '@fontsource/yuji-syuku';
import BaseLayout from '../../layouts/BaseLayout.astro';
import legImage from '../../images/20250111_183930_A6602204.webp';
const title = 'Drumette & Leg - Tebamotoreggu';
---

<BaseLayout title={title} />
<main>
  <h1>Drumette & Leg - <span>手羽元レッグ</span></h1>
  <p>
    The leg is full of tendons that can be unpleasant to eat when there are so many. I remove as
    many as possible and then pair the leg meat with some pieces from the drumette on the wing. The
    meat is flavorful and juicy like thigh meat, but just a little more tough.
  </p>
  <section class='images'>
    <img
      src={legImage.src}
      alt='A yakitori skewer with chicken leg meat and covered in a tare sauce'
    />
  </section>
</main>

<style>
  main {
    margin: 0 auto;
    width: 100%;
    max-width: 75ch;
    font-weight: 300;
  }
  h1 {
    font-weight: 300;
  }
  h1 span {
    font-family: 'Yuji Syuku', serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 2.4rem;
  }
  p {
    margin: 0;
    padding-bottom: 1rem;
    font-size: 1rem;
  }
  .images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    padding: 0;
  }
  .images img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
</style>
