---
import '@fontsource/yuji-syuku';
import BaseLayout from '../../layouts/BaseLayout.astro';
const title = 'Sauce - Tare';
---

<BaseLayout title={title} />
<main>
  <h1>Sauce - <span>タレ</span></h1>
  <p>
    Sweet and smokey carmel sauce dripping down a chicken thigh skewer as it is lifted out of the crock. I made the first batch of this sauce in the summer of 2024 and have been topping it up every time I grill yakitori. I'll typically dip a skewer a total of three times in it before serving. There is no secret here, just a simple sauce that takes on the flavor of smoke and chicken fat which each successive party.
  </p>
  <h2>Ingredients</h2>
  <ul>
    <li>1/2 cup (120ml), soy sauce (Yamasa Marudaizu)</li>
    <li>1/2 cup (120ml), mirin (Takara)</li>
    <li>1/4 cup (60ml), nihonshu (Hakatsuru/Momokawa Silver)</li>
    <li>1/4 cup (60ml), water</li>
    <li>2 teaspoons (10ml), brown sugar</li>
    <li>2 stalks, green onion (just the green part)</li>
  </ul>
  <h2>Process</h2>
  <ol>
    <li>Combine liquids in a pot and bring to a low simmer</li>
    <li>Add sugar and stir until completely dissolved making sure it doesn't scorch on the bottom</li>
    <li>Add green onions</li>
    <li>Simmer for 30 minutes to one hour</li>
    <li>Let it cool, then transfer to a container wide and deep enough to fit a skewer</li>
    <li>After using, store covered in the fridge for 1-2 months</li>
    <li>To prepare for the next use, pour into a pot and bring to a low simmer and repeat steps above</li>
  </ol>
  <p><strong>Note:</strong> Once the tare cools in the fridge you will likely see white circles appear on the surface. This is fat, not mold.</p>
</main>

<style>
  main {
    margin: 0 auto;
    width: 100%;
    max-width: 75ch;
    font-weight: 300;
  }

  h1 {
    font-weight: 300;
  }

  h1 span {
    font-family: 'Yuji Syuku', serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 2.4rem;
  }

  p {
    margin: 0;
    padding-bottom: 1rem;
    font-size: 1rem;
  }
</style>
