---
import '@fontsource-variable/noto-sans';
import BaseLayout from '../layouts/BaseLayout.astro';
const title = 'Yoruyaki - About';
---

<BaseLayout title={title}>
  <main>
    <h2>Welcome to Yoruyaki</h2>
    <p>
      During my time dining in Japan and at Japanese restaurants in the United States I've always
      come back to yakitori (焼き鳥). The frenetic pace of the person running the grill, the smell
      of burnt chicken fat, an ice cold rice lager and the chatter of diners relaxing after a hard
      days work. Every time I taste a skewer it transports me to a small dimly lit izakaya that
      specializes in grilled chicken skewers.
    </p>
    <p></p>
    <p>This pop up is my contribution to spreading this way of eating to Portland.</p>
  </main>
</BaseLayout>

<style>
  main {
    margin: 0 auto;
    width: 100%;
    max-width: 75ch;
    font-family: 'Noto Sans Variable', sans-serif;
    font-weight: 300;
  }
</style>
