---
import '@fontsource-variable/noto-sans';
import BaseLayout from '../layouts/BaseLayout.astro';
const title = 'Yoruyaki - About';
---

<BaseLayout title={title}>
  <main>
    <h2>Welcome to Yoruyaki</h2>
    <p>
      During my time dining in Japan and at Japanese restaurants in the United States I've always
      come back to yakitori (焼き鳥). The frenetic pace of the person running the grill, the smell
      of burnt chicken fat, an ice cold rice lager and the chatter of diners relaxing after a hard
      days work. Every time I taste a skewer it transports me to a small dimly lit izakaya that
      specializes in grilled chicken skewers.
    </p>
    <p>This pop up is my contribution to spreading this way of eating to Portland.</p>
    <p>
      The best way to keep up to date with yoruyaki is to check the website regulary or ask to join
      my email list. You can also follow me on instagram <a href="https://www.instagram.com/yoru.yaki">
      @yoru.yaki</a>, although I don't update it as quickly.
    </p>
    <h3>Frequently Asked Questions</h3>
    <h4>How much does it cost to attend?</h4>
    <p>Free to attend! This includes food, but no drinks. We gladly acccept tips/donations via cash or <a href="https://account.venmo.com/u/oregoncurtis">venmo</a>.</p>
    <h4>Do I need to bring anything?</h4>
    <p>Bring yourself and anything you'd like to drink. If you are attending in the winter please wear warm clothing as the space can get a little chilly.</p>
    <h4>I'd like to attend, but everything is full. How do I sign up?</h4>
    <p>You can <a href="mailto:curtis.barnard.jr@gmail.com">email us</a> to be added to the mailing list. That is where we notify first about new dates or spots that open up.</p>
    <h4>Are you opening a restaurant?</h4>
    <p><i>They say the fastest way to have a million dollars is to start with two and open a restaurant.</i></p>
    <p>Not right now, but we may entertain some pop-ups, please let us know if you would like to work together.</p>
    <h4>How much time does it take you to prepare for each event?</h4>
    <p>Between the shopping, setup, food prep and cleanup it takes around 16 hours. <a href="/past-events/20260207">This event recap</a> has details on time and food costs.</p>
    <h4>What grill are you using?</h4>
    <p>I purchased a Teruhime TK-618 on eBay and had it shipped here from Japan. My only complaint is that I should have opted for the larger size as it can get tight when cooking for 12 people. I'll likely upgrade to the TK-918 soon which gives another 30cm (~12 inches) of width.</p>
    <h4>What kind of chicken are you using?</h4>
    <p>Currently I source chicken from New Seasons or Fred Meyer. It can change between Mary's, Foster Farms, and other brands. Nothing fancy, I just try to purchase the freshest ones that include giblets.</p>
    <h4>What charcoal are you using?</h4>
    <p>I use ogatan compressed charcoal logs. They aren't as nice as true binchotan, but are considerably cheaper. You'll often see yakitoriya in Japan using a mix of ogatan (for the base) and binchotan (on top). I've used a few different brands which all work well:</p>
    <ul>
      <li><a href="https://thaancharcoal.com/products/thai-style-charcoal">Thaan Thai-Style Charcoal</a></li>
      <li><a href="https://mtckitchen.com/collections/charcoal-and-restaurant-grills/products/all-natural-ogatan-charcoal-briquettes-touryu">Touryu Ogatan from MTC</a></li>
      <li><a href="https://www.korin.com/sumi-charcoal-23-pound-case">Korin Sumi Charcoal</a></li>
    </ul>
    <h4>X dish was so delicious how can I make it?</h4>
    <p>Scroll down to see recipes. I plan to add recipes for dishes that we end up keeping on repeatedly or seasonally.</p>
    <h3>Skewers</h3>
    <ul>
      <li><a href='/skewers/harami'>Belly - ハラミ</a></li>
      <li><a href='/skewers/mune'>Breast - 胸</a></li>
      <li><a href='/skewers/tebamotoreggu'>Drumette & Leg - 手羽元レッグ</a></li>
      <li><a href='/skewers/nasu'>Eggplant - なす</a></li>
      <li><a href='/skewers/sunagimo'>Gizzard - 砂肝</a></li>
      <li><a href='/skewers/hatsu'>Heart - ハツ</a></li>
      <li><a href='/skewers/obisori'>Inner Thigh & Oyster - おびそり</a></li>
      <li><a href='/skewers/yagennankotsu'>Keel Cartilage - ヤゲン軟骨</a></li>
      <li><a href='/skewers/eringi'>King Oyster Mushroom - エリンギ</a></li>
      <li><a href='/skewers/hizanankotsu'>Knee Cartilage - 膝軟骨</a></li>
      <li><a href='/skewers/reba'>Liver - レバー</a></li>
      <li><a href='/skewers/tsukune'>Meatball - つくね</a></li>
      <li><a href='/skewers/seseri'>Neck - せせり</a></li>
      <li><a href='/skewers/shishitou'>Pepper - ししとう</a></li>
      <li><a href='/skewers/furisode'>Shoulder - ふりそで</a></li>
      <li><a href='/skewers/kawa'>Skin - 皮</a></li>
      <li><a href='/skewers/bonjiri'>Tail - ぼんじり</a></li>
      <li><a href='/skewers/sasami'>Tender - ささみ</a></li>
      <li><a href='/skewers/negima'>Thigh & Onion - ねぎま</a></li>
      <li><a href='/skewers/tebanaka'>Wing - 手羽中</a></li>
    </ul>
    <h3>Recipes</h3>
    <ul>
      <li><a href='/recipes/tare'>Sauce - タレ</a></li>
    </ul>
  </main>
</BaseLayout>

<style>
  main {
    margin: 0 auto;
    width: 100%;
    max-width: 75ch;
    font-family: 'Noto Sans Variable', sans-serif;
    font-weight: 300;
  }
  ul {
    line-height: 2rem;
  }
</style>

