---
import '@fontsource-variable/noto-sans';
import BaseLayout from '../layouts/BaseLayout.astro';
const title = 'Yoruyaki - About';
---

<BaseLayout title={title}>
  <main>
    <h2>Welcome to Yoruyaki</h2>
    <p>
      During my time dining in Japan and at Japanese restaurants in the United States I've always
      come back to yakitori (焼き鳥). The frenetic pace of the person running the grill, the smell
      of burnt chicken fat, an ice cold rice lager and the chatter of diners relaxing after a hard
      days work. Every time I taste a skewer it transports me to a small dimly lit izakaya that
      specializes in grilled chicken skewers.
    </p>
    <p>This pop up is my contribution to spreading this way of eating to Portland.</p>
    <p>
      The best way to keep up to date with yoruyaki is to check the website regulary or ask to join
      my email list. You can also follow me on instagram <a href="https://www.instagram.com/yoru.yaki">
      @yoru.yaki</a>, although I don't update it as quickly.
    </p>
    <h3>Skewers</h3>
    <ul>
      <li><a href='/skewers/harami'>Belly - ハラミ</a></li>
      <li><a href='/skewers/mune'>Breast - 胸</a></li>
      <li><a href='/skewers/yagennankotsu'>Breast Cartilage - ヤゲン軟骨</a></li>
      <li><a href='/skewers/tebamotoreggu'>Drumette & Leg - 手羽元レッグ</a></li>
      <li><a href='/skewers/sunagimo'>Gizzard - 砂肝</a></li>
      <li><a href='/skewers/hatsu'>Heart - ハツ</a></li>
      <li><a href='/skewers/obisori'>Inner Thigh & Oyster - おびそり</a></li>
      <li><a href='/skewers/hizanankotsu'>Knee Cartilage - 膝軟骨</a></li>
      <li><a href='/skewers/reba'>Liver - レバー</a></li>
      <li><a href='/skewers/tsukune'>Meatball - つくね</a></li>
      <li><a href='/skewers/seseri'>Neck - せせり</a></li>
      <li><a href='/skewers/furisode'>Shoulder - ふりそで</a></li>
      <li><a href='/skewers/kawa'>Skin - 皮</a></li>
      <li><a href='/skewers/bonjiri'>Tail - ぼんじり</a></li>
      <li><a href='/skewers/sasami'>Tender - ささみ</a></li>
      <li><a href='/skewers/negima'>Thigh & Onion - ねぎま</a></li>
      <li><a href='/skewers/tebanaka'>Wing - 手羽中</a></li>
    </ul>
    <h3>Recipes</h3>
    <ul>
      <li><a href='/recipes/tare'>Sauce - タレ</a></li>
    </ul>
  </main>
</BaseLayout>

<style>
  main {
    margin: 0 auto;
    width: 100%;
    max-width: 75ch;
    font-family: 'Noto Sans Variable', sans-serif;
    font-weight: 300;
  }
  ul {
    line-height: 2rem;
  }
</style>

