---
import '@fontsource/yuji-syuku';
import BaseLayout from '../layouts/BaseLayout.astro';
const title = 'Yoruyaki - February 2026';

---

<BaseLayout title={title} />
<main>
  <span class='date'>2026.02.07</span>
  <section>
    <h2>セット</h2>
    <div class='items'>
      <p>A set plate with edamame, onigiri, pickels, potato salad, soup, and two skewers. After being served feel free to order any other skewers you see below or on the hanging board.</p>
      <div class='item'>
        <h3>枝豆</h3>
        <p>boiled young soybeans, salt</p>
      </div>
      <div class='item'>
        <h3>おにぎり</h3>
        <p>rice ball, chicken breast, ginger, tamari, furikake</p>
      </div>
      <div class='item'>
        <h3>浅漬け</h3>
        <p>cucumber, salt</p>
      </div>
      <div class='item'>
        <h3>ポテトサラダ</h3>
        <p>potato, carrot, onion, cucumber, corn, mayo</p>
      </div>
      <div class='item'>
        <h3>チキンブロス</h3>
        <p>chicken bones, kelp, bonito, daikon</p>
      </div>
      <div class='item'>
        <a href='/skewers/sasami'>
          <h3>ささみ</h3>
          <p>tender, sake, salt, wasabi</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/mune'>
          <h3>胸</h3>
          <p>breast, yuzu kosho</p>
        </a>
      </div>
    </div>
  </section>
  <section>
    <h2>串焼き</h2>
    <div class='items'>
      <p>
        Various types of skewers with limited amounts, click on the name to go to a page with more detail. When ordering check the board to see if they are still available. Shichimi, yuzu kosho, and lemon are available as toppings.
      </p>
      <div class='item'>
        <h3>しし唐</h3>
        <p>shishitou pepper, tare</p>
      </div>
      <div class='item'>
        <h3>エリンギ</h3>
        <p>king oyster mushroom, miso dengaku</p>
      </div>
      <div class='item'>
        <h3>なす</h3>
        <p>eggplant, tare, ginger</p>
      </div>
      <div class='item'>
        <a href='/skewers/negima'>
          <h3>ねぎま</h3>
          <p>thigh, scallion, tare</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/tsukune'>
          <h3>つくね</h3>
          <p>meatball, tare</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/tebamotoreggu'>
          <h3>手羽元レッグ</h3>
          <p>drumette, leg, tare</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/tebanaka'>
          <h3>手羽中</h3>
          <p>wing, tare</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/obisori'>
          <h3>おびそり</h3>
          <p>inner thigh, oyster, sake, salt</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/furisode'>
          <h3>ふりそで</h3>
          <p>shoulder, sake, salt</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/harami'>
          <h3>ハラミ</h3>
          <p>belly, sake, salt</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/kawa'>
          <h3>皮</h3>
          <p>skin, sake, salt</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/bonjiri'>
          <h3>ぼんじり</h3>
          <p>tail, sake, salt</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/seseri'>
          <h3>せせり</h3>
          <p>neck, tare</p>
        </a>
      </div>
      <div class='item'>
        <h3>軟骨</h3>
        <p>cartilage, tare</p>
      </div>
      <div class='item'>
        <a href='/skewers/sunagimo'>
          <h3>砂肝</h3>
          <p>gizzard, sake, salt</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/hatsu'>
          <h3>ハツ</h3>
          <p>heart, sake, salt</p>
        </a>
      </div>
      <div class='item'>
        <a href='/skewers/reba'>
          <h3>レバー</h3>
          <p>liver, tare</p>
        </a>
      </div>
      <div class='item'>
        <h3>ソーセージ</h3>
        <p>sausage, ketchup, mustard</p>
      </div>
    </div>
  </section>
</main>

<style>
  main {
    margin: 0 auto;
    width: 100%;
    max-width: 75ch;
  }
  .date {
    display: block;
    margin-bottom: 1rem;
    text-align: right;
  }
  section {
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: 1fr 8fr;
  }
  .items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    border-left: 1px solid rgb(173, 165, 159);
    padding-left: 2.2rem;
  }
  section h2 {
    font-family: 'Yuji Syuku', serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 2.4rem;
    writing-mode: vertical-lr;
  }
  section h3 {
    font-family: 'Yuji Syuku', serif;
    font-weight: 400;
    font-size: 1.6rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  section a {
    text-decoration: none;
  }
  .items > p {
    font-style: italic;
    grid-column-start: span 2;
    font-size: 0.8rem;
  }
  p {
    margin: 0;
    font-size: 1rem;
  }
  .images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    padding: 0;
  }
  .images img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }

  .images iframe {
    width: 100%;
    max-width: 600px;
    aspect-ratio: 9 / 16;
    border: none;
  }

  .notes {
    display: block;
  }

  .notes h2 {
    font-family: 'Noto Sans Variable', sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0 0 1rem 0;
    font-size: 2rem;
    writing-mode: horizontal-tb;
  }

  .notes a {
    text-decoration: underline;
  }

  .notes p {
    margin-bottom: 1rem;
  }

  @media (max-width: 650px) {
    .items {
      padding-left: 1rem;
    }
    p {
      font-size: 1rem;
    }
  }
</style>

