---
import '@fontsource/yuji-syuku';
import BaseLayout from '../layouts/BaseLayout.astro';
const title = 'Yoruyaki - Past Events';
---

<BaseLayout title={title} />
<main>
  <ul>
    <li><a href='/past-events/20250308'>March 8th, 2025</a></li>
    <li><a href='/past-events/20241221'>December 21st, 2024</a></li>
  </ul>
</main>

<style>
  main {
    margin: 0 auto;
    width: 100%;
    max-width: 75ch;
  }
  p {
    margin: 0;
    font-size: 1rem;
  }
  ul li {
    margin-bottom: 1rem;
  }
</style>
