---
import '@fontsource/yuji-syuku';
import '@fontsource/yuji-mai';
---

<header>
  <h1><a href='/'>夜焼き</a></h1>
  <nav>
    <a href='/about'>about</a>
  </nav>
</header>

<style>
  header {
    margin: 0 auto;
    width: 100%;
    max-width: 75ch;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid hsl(0, 0%, 0%);
    margin-bottom: 2rem;
  }

  h1 {
    font-family: 'Yuji Mai', serif;
    font-weight: 400;
    font-size: 2.5rem;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0.2rem;
  }

  .katakana {
    font-family: 'Yuji Syuku', serif;
  }

  h1 a {
    text-decoration: none;
  }
</style>
