---

---

<header>
  <h1><a href='/yakinaito/'>焼きナイト</a></h1>
  <nav>
    <a href='/yakinaito/about'>about</a>
  </nav>
</header>

<style>
  header {
    margin: 0 auto;
    width: 100%;
    max-width: 65ch;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid hsl(0, 0%, 0%);
    margin-bottom: 3rem;
  }

  h1 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  a,
  a:visited {
    color: hsl(0, 0%, 0%);
  }

  a:hover {
    color: rgb(255, 161, 61);
  }

  h1 a {
    text-decoration: none;
  }
</style>
