---
import '@fontsource-variable/noto-sans';
import Header from '../components/Header.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='Find out when the next yakitori event is and what is on the menu.'
    />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' href='/favicon.ico' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: 'Noto Sans Variable', sans-serif;
    font-size: 1rem;
    background: hsl(48, 22%, 97%);
  }

  h1 {
    font-size: 2rem;
  }

  body {
    margin: 0 auto;
    width: 100%;
    max-width: 90ch;
    padding: 1rem;
    line-height: 1.5;
  }

  * {
    box-sizing: border-box;
  }

  a,
  a:visited {
    color: hsl(0, 0%, 0%);
  }

  a:hover {
    color: rgb(37, 139, 254);
  }
</style>
